{{#uic-modal-window title="Modal Window" showModal=true modalClassNames="my-modal"}}

  <h2>Routed Modal</h2>

  {{link-to 'Close' lookup.parentRouteName  class="uic-button" tagName='button'}}

{{/uic-modal-window}}
