label {
  margin: 10px;
  vertical-align: middle;
}
div.panel {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #EEF1F5;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #888888;
}

div.check-box.slider,
div.check-box.toggle,
select.select-box {
  margin: 20px 0;
}

/*
  SelectBoxComponent
*/
/*select.select-box {
  margin: 20px 0;
  border-radius: 4px;
}*/

/*
  CheckBoxComponent
*/
.check-box {
  display: inline-block;
  position: relative;
}
.check-box input + label {
  display: block;
  cursor: pointer;
  position: absolute;
  margin: 0;
}
.check-box span {
  margin: 10px;
  vertical-align: middle;
}
.check-box.slider,
.check-box.toggle {
  top: -3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.check-box.slider input[type=checkbox],
.check-box.toggle input[type=checkbox] {
  visibility: hidden;
}
.check-box.slider {
  top: -3px;
  width: 80px;
  height: 26px;
  border-radius: 50px;
  /*box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);*/
}
.check-box.slider:after {
  content: 'OFF';
  color: #888;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.check-box.slider.light:after {
  color: #888;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.check-box.slider.dark:after {
  color: #000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.check-box.slider:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.check-box.slider label {
  width: 34px;
  height: 20px;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.check-box.slider.light label {
  background: #646563;
  background: -webkit-linear-gradient(top, #BBBABA 0%, #B2B5B2 40%, #646563 100%);
  background: linear-gradient(to bottom, #BBBABA 0%, #B2B5B2 40%, #646563 100%);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.check-box.slider input[type=checkbox]:checked + label {
  left: 43px;
}
.check-box.toggle {
  background: none;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;
}
.check-box.toggle label:before {
  display: block;
  position: absolute;
  content: ''!important;
  z-index: 1;
  border: none;
  top: 0;
  left: 0;
  transform: none;
  background: rgba(0,0,0,.05);
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.check-box.toggle input[type=checkbox]:checked + label:before {
  background: #2185d0;
}
.check-box.toggle.green input[type=checkbox]:checked + label:before {
  background: #11D232;
}
.check-box.toggle.red input[type=checkbox]:checked + label:before {
  background: #E61010;
}
.check-box.toggle label {
  top:0px;
  left: 0px;
  z-index: 0;
  width: 3.5rem;
  height: 1.5rem;
  background: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
}
.check-box.toggle label:after {
  position: absolute;
  content:''!important;
  background: -webkit-linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
  background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15) inset;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 500rem;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.check-box.toggle input[type=checkbox]:checked + label:after {
  left: 2rem;
}

/*
  Common styles
*/
.light {
  border: 1px solid rgb(89, 96, 134);
  background: #F3F3F3;
  color: #000;
}
.dark {
  border: 1px solid rgb(89, 96, 134);
  background: #333;
  color: #D5D5D5;
}
.shadow {
  box-shadow: 4px 4px 4px #888888!important;
}
.top-border.yellow {
  border-top: 4px solid rgb(236, 207, 101);
}
.top-border.green {
  border-top: 4px solid rgb(123, 224, 123);
}
.top-border.red {
  border-top: 4px solid rgb(251, 189, 189);
}
.rounded-corners {
  border-radius: 4px;
}
