
body.modal-dialog-is-open,
body.modal-window-is-open,
.uic-disable-scroll {
  overflow: hidden;
}

label {
  margin: 10px;
  vertical-align: middle;
}
div.panel,
div.uic-panel {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #EEF1F5;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #888888;
}

div.uic-check-box.slider,
div.uic-check-box.toggle,
select.uic-select {
  margin: 20px 0;
}

/*
  uic-button
*/
button.uic-button,
button.uic-ok-button,
button.uic-cancel-button {
  margin: 0;
  padding: 5px 20px;
  font-weight: 300;
  font-size: .9rem;
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #CDCDCD;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
button.uic-button:hover,
button.uic-ok-button:hover,
button.uic-cancel-button:hover {
  box-shadow: 1px 1px 1px #888;
}
button.uic-button.large {
  padding: 10px 30px;
  font-size: 1rem;
}
button.uic-button.small {
  padding: 2px 10px;
  font-size: .8rem;
}
button.uic-button.extra-small {
  padding: 1px 5px;
  font-size: .6rem;
}
button.uic-button.blue {
  color: #fff;
  background: #388FFF;
  box-sizing: border-box;
  border: 1px solid transparent;
}
button.uic-button.green {
  color: #fff;
  background: #11D232;
  border: 1px solid transparent;
}
button.uic-button.yellow {
  color: #000;
  background: #FFD128;
  border: 1px solid transparent;
}
button.uic-button.red {
  color: #fff;
  background: #FF0202;
  border: 1px solid transparent;
}



/*
  CheckBoxComponent
*/
.uic-check-box {
  display: inline-block;
  position: relative;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.uic-check-box.slider.disabled,
.uic-check-box.toggle.disabled {
  opacity: 0.4;
}
.uic-check-box input + label {
  display: block;
  cursor: pointer;
  position: absolute;
  margin: 0;
}
.uic-check-box.disabled input + label {
  cursor: default;
}
.uic-check-box span {
  margin: 10px;
  vertical-align: middle;
}
.uic-check-box.slider,
.uic-check-box.toggle {
  top: -3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.uic-check-box.slider input[type=checkbox],
.uic-check-box.toggle input[type=checkbox] {
  visibility: hidden;
}
.uic-check-box.slider {
  top: -3px;
  width: 80px;
  height: 26px;
  border-radius: 50px;
}
.uic-check-box.slider:after {
  content: 'OFF';
  color: #888;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.uic-check-box.slider.light:after {
  color: #888;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.uic-check-box.slider.dark:after {
  color: #000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.uic-check-box.slider:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.uic-check-box.slider label {
  width: 34px;
  height: 20px;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.uic-check-box.slider.light label {
  background: #646563;
  background: -webkit-linear-gradient(top, #BBBABA 0%, #B2B5B2 40%, #646563 100%);
  background: linear-gradient(to bottom, #BBBABA 0%, #B2B5B2 40%, #646563 100%);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.uic-check-box.slider input[type=checkbox]:checked + label {
  left: 43px;
}
.uic-check-box.toggle {
  background: none;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;
}
.uic-check-box.toggle label:before {
  display: block;
  position: absolute;
  content: ''!important;
  z-index: 1;
  border: none;
  top: 0;
  left: 0;
  transform: none;
  background: rgba(0,0,0,.05);
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.uic-check-box.toggle input[type=checkbox]:checked + label:before {
  background: #2185d0;
}
.uic-check-box.toggle.green input[type=checkbox]:checked + label:before {
  background: #11D232;
}
.uic-check-box.toggle.red input[type=checkbox]:checked + label:before {
  /*background: #E61010;*/
  background: #FF0202;
}
.uic-check-box.toggle label {
  top:0px;
  left: 0px;
  z-index: 0;
  width: 3.5rem;
  height: 1.5rem;
  background: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
}
.uic-check-box.toggle label:after {
  position: absolute;
  content:''!important;
  background: -webkit-linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
  background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15) inset;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 500rem;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.uic-check-box.toggle input[type=checkbox]:checked + label:after {
  left: 2rem;
}









/*
  SlideMenuComponent
*/
.uic-slide-menu > nav {
  position: fixed;
  z-index: 200;
  background: #4f6b81;
  color: #ddd;
  transition: transform 0.4s;
}
.uic-slide-menu > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.uic-slide-menu > nav > button.close-button {
  color: #fff;
  text-align: left;
  background-color: #4f6b81;
  font-size: 1.1em;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.uic-slide-menu > nav > button.close-button:focus {
  outline: none;
}

/*
  slide-menu content-container
*/
.uic-slide-menu > .uic-content-container {
  transition: transform .4s, margin .4s;
}

/*
  slide-menu-mask
*/
.uic-content-mask.slide-menu-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.uic-slide-menu > input[type=checkbox].menu-toggle:checked ~ .slide-menu-mask {
  width: 100%;
  height: 100%;
  opacity: 0.05;
  transition: opacity 0.4s;
}

/*
  menu-toggle button
*/
.uic-slide-menu > input[type=checkbox].menu-toggle {
  position: fixed;
  opacity: 0;
  z-index: 200;
}
.uic-slide-menu > input[type=checkbox].menu-toggle ~ label {
  position: absolute;
  margin: 0;
  z-index: 200;
  display: block;
  font-size:3em;
  color: #444;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}

.uic-slide-menu > input[type=checkbox].menu-toggle ~ label.uic-menu-toggle-fixed {
  position: fixed;
}

.uic-slide-menu > nav li {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  padding: 15px;
  background: linear-gradient(#628297, #4f6b81);
  border-bottom: 1px solid #1e222b;
  box-shadow: inset 0px 1px 1px #8b9db3;
  text-align: left;
  cursor: pointer;
}

.uic-slide-menu > nav li:hover {
  background: linear-gradient(#3b3f48, #3c434d);
  box-shadow: inset 0px 1px 1px #475059;

}

.uic-slide-menu > nav li.active {
  background: linear-gradient(rgba(59, 63, 72, 0.22), #3c434d);
  box-shadow: inset 0px 1px 1px #475059;

}


/*
 slide-menu left & right
*/
.uic-slide-menu > nav {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media all and (min-width: 320px) {
  .uic-slide-menu > nav {
    width: 250px;
  }
}
.uic-slide-menu > nav button.close-button {
  display: block;
  padding: 15px;
}
.uic-slide-menu.left > nav button.close-button,
.uic-slide-menu.right > nav button.close-button {
  width: 100%;
}

/*
  slide-menu left
*/
.uic-slide-menu.left > nav,
.uic-slide-menu > nav.left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .uic-slide-menu.left > nav,
  .uic-slide-menu > nav.left {
    transform: translateX(-250px);
  }
}

.uic-slide-menu.left > input[type=checkbox].menu-toggle + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.left + label {
  top: 0px;
  left: 10px;
}
.uic-slide-menu.left > input[type=checkbox].menu-toggle:checked + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.left:checked + label  {
  transform: translate3d(250px, 0, 0) rotate(90deg);
}
.uic-slide-menu.left > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.push-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.left:checked ~ .uic-content-container.push-content {
  transform: translate3d(250px, 0, 0);
}
.uic-slide-menu.left > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.squeeze-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.left:checked ~ .uic-content-container.squeeze-content {
  margin-left: 250px;
}
.uic-slide-menu.left > input[type=checkbox].menu-toggle:checked ~ nav,
.uic-slide-menu > input[type=checkbox].menu-toggle.left:checked ~ nav.left {
  transform: translate3d(0, 0, 0);
}

/*
  slide-menu right
*/
.uic-slide-menu.right > nav,
.uic-slide-menu > nav.right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .uic-slide-menu.right > nav,
  .uic-slide-menu > nav.right {
    transform: translateX(250px);
  }
}

.uic-slide-menu.right > input[type=checkbox].menu-toggle + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.right + label {
  top: 0px;
  right: 10px;
}
.uic-slide-menu.right > input[type=checkbox].menu-toggle:checked + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.right:checked + label {
  transform: translate3d(-250px, 0, 0) rotate(-90deg);
}
.uic-slide-menu.right > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.push-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.right:checked ~ .uic-content-container.push-content {
  transform: translate3d(-250px, 0, 0);
}
.uic-slide-menu.right > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.squeeze-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.right:checked ~ .uic-content-container.squeeze-content {
  margin-right: 250px;
}
.uic-slide-menu.right > input[type=checkbox].menu-toggle:checked ~ nav,
.uic-slide-menu > input[type=checkbox].menu-toggle.right:checked ~ nav.right {
  transform: translate3d(0, 0, 0);
}

/*
  slide-menu top & bottom
*/
.uic-slide-menu.top > nav,
.uic-slide-menu.bottom > nav {
  vertical-align: middle;
  width: 100%;
  height: 60px;
  text-align: center;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  box-shadow: none;
}
.uic-slide-menu.top > nav ul,
.uic-slide-menu.bottom > nav ul {
  display: inline-block;
  text-align: center;
  background: linear-gradient(#628297, #4f6b81);
}
.uic-slide-menu.top > nav ul > li,
.uic-slide-menu.bottom > nav ul > li {
  display: inline-block;
  text-align: center;
  margin: 0;
  /*padding: 0;*/
  line-height: 60px;
  padding: 0 15px;
  box-shadow: none;
}
/*.uic-slide-menu.top > nav .slide-menu-item,
.uic-slide-menu.bottom > nav .slide-menu-item {
  display: inline-block;
  line-height: 60px;
  padding: 0 15px;
  box-shadow: none;
}*/
.uic-slide-menu.top > nav button.close-button,
.uic-slide-menu.bottom > nav button.close-button {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: 60px;
  line-height: 60px;
}

/*
  slide-menu top
*/
.uic-slide-menu.top > nav {
  top: 0;
  left: 0;
  transform: translateY(-60px);
}
.uic-slide-menu.top > input[type=checkbox].menu-toggle + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.top + label {
  top: 0px;
  left: 10px;
}
.uic-slide-menu.top > input[type=checkbox].menu-toggle:checked + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.top:checked + label  {
  transform: translateY(60px) rotate(90deg);
}
.uic-slide-menu.top > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.push-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.top:checked ~ .uic-content-container.push-content {
  transform: translateY(60px);
}
.uic-slide-menu.top > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.squeeze-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.top:checked ~ .uic-content-container.squeeze-content {
  margin-top: 60px;
}
.uic-slide-menu.top > input[type=checkbox].menu-toggle:checked ~ nav,
.uic-slide-menu > input[type=checkbox].menu-toggle.top:checked ~ nav.top {
  transform: translateY(0);
}

/*
  slide-menu bottom
*/
.uic-slide-menu.bottom > nav {
  bottom: 0;
  left: 0;
  transform: translateY(60px);
}
.uic-slide-menu.bottom > input[type=checkbox].menu-toggle + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.bottom + label {
  position: fixed;
  bottom: 0;
}
.uic-slide-menu.bottom > input[type=checkbox].menu-toggle:checked + label,
.uic-slide-menu > input[type=checkbox].menu-toggle.bottom:checked + label  {
  transform: translateY(-60px) rotate(90deg);
}
.uic-slide-menu.bottom > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.push-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.bottom:checked ~ .uic-content-container.push-content {
  transform: translateY(-60px);
}
.uic-slide-menu.bottom > input[type=checkbox].menu-toggle:checked ~ .uic-content-container.squeeze-content,
.uic-slide-menu > input[type=checkbox].menu-toggle.bottom:checked ~ .uic-content-container.squeeze-content {
  margin-bottom: 60px;
}
.uic-slide-menu.bottom > input[type=checkbox].menu-toggle:checked ~ nav,
.uic-slide-menu > input[type=checkbox].menu-toggle.bottom:checked ~ nav.bottom {
  transform: translateY(0);
}

/*
  hide scroll bars
*/
.uic-slide-menu > nav::-webkit-scrollbar,
.uic-context-menu nav.uic-context-menu-container::-webkit-scrollbar,
.uic-context-menu li.uic-sub-menu > span > div::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.uic-slide-menu > nav,
.uic-context-menu nav.uic-context-menu-container,
.uic-context-menu li.uic-sub-menu > span > div {
  -ms-overflow-style: none;
}



/*
  ContextMenuComponent
*/
.uic-context-menu-container, .uic-context-menu-container li.uic-sub-menu > div > div.uic-menu-container {
	display: inline-block;
	margin: 0px;
	background-color: rgb(255,255,255);
	padding: 0px;
	position: fixed;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: left;
  font-size: 13px;
  font-family: sans-serif;
	cursor: default;
  z-index: 200;
  white-space: nowrap;
}
.uic-context-menu-container ul {
  list-style: none;
}
.uic-context-menu .uic-sub-menu-title {
  margin-right: 15px;
}
.uic-context-menu-container li.uic-sub-menu > div {
  position: absolute;
  right: 15px;
}
.uic-context-menu-container ul {
	margin: 0px;
	margin-left:0px;
	padding:4px 0px 4px 0px;
}
.uic-context-menu-container li {
	padding:3px 20px 3px 20px;
	white-space: nowrap;
	overflow: hidden;
}
.uic-context-menu-container li:hover {
	background: #3A9FF4;
	color:#ffffff;
}

.uic-context-menu-container li > div > svg {
	margin-left:10px;
	margin-top:3px;
}
.uic-context-menu-container hr {
	width: 100%;
	margin:0px;
}
.uic-context-menu-container li.uic-sub-menu > div > div.uic-menu-container > ul > li {
	color:#000000;
}
.uic-context-menu-container li.uic-sub-menu > div > div.uic-menu-container > ul > li:hover {
	color:#ffffff;
}
.uic-context-menu-container li.uic-sub-menu > div > svg.svg-triangle polygon {
  fill: rgb(0, 0, 0);
  stroke:#000000;
  stroke-width:1;
}
.uic-context-menu-container li.uic-sub-menu:hover > div > svg.svg-triangle polygon {
  fill: rgb(255, 255, 255);
  stroke:#ffffff;
  stroke-width:1;
}
.uic-context-menu-container li.context-menu-disabled {
	color:#ccc;
}
.uic-context-menu-container li.context-menu-disabled:hover {
	background: rgb(255,255,255);
}





/*
  content-mask
*/
.uic-content-mask {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.uic-content-mask.active {
  width: 100%;
  height: 100%;
  opacity: 0.05;
  transition: opacity 0.4s;
}
.uic-content-mask.uic-menu-overlay {
  background: none;
  opacity: inherit;
}


.uic-modal-dialog .uic-content-mask.active,
.uic-modal-window .uic-content-mask.active,
.uic-disable-pointer-events {
  pointer-events: none;
}

.uic-modal-window.uic-disable-pointer-events .uic-modal,
.uic-modal-dialog.uic-disable-pointer-events .uic-modal {
  pointer-events: all;
}



/*
  ModalDialogComponent
*/
.uic-modal {
	background-color: rgb(255,255,255);
	padding: 1em;
	border:1px solid #DCDCDC;
	position:relative;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  overflow: auto;
  z-index: 310;
}
.uic-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 301;
}
.uic-modal-button-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uic-modal-button-container button {
  /*height: 25px;*/
  min-width: 80px;
  margin: 10px;
}
header.uic-modal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 26px;
}
header.uic-modal-header h1 {
  text-align: left;
  font-size: 16px;
  font-size: 1rem;
  margin: 10px;
  margin-right: 20px;
  /*font-weight: normal;*/
}
header.uic-modal-header button.uic-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 2px;
  font-size: 1rem;
}
header.uic-modal-header button.uic-close-button:hover {
  border: 1px solid #DCDCDC;
  background: #fff;
  box-shadow: 0px 0px 1px #888888;
}
.uic-modal-body {
  margin-top: 18px;
}
.uic-modal h1, .uic-modal p {
  text-align: center;
	margin: 15px;
}
.uic-modal h1 {
	font-size: 20px;
  font-size: 1.5rem;
}
.uic-modal p {
	font-size: 16px;
  font-size: 1rem;
}
.uic-modal-dialog, .uic-modal-alert, .uic-modal-confirm {
  z-index: 400;
}
.uic-modal.resizable {
  resize: both;
  overflow: auto;
}







/*
  Common styles
*/
.light {
  border: 1px solid rgb(89, 96, 134);
  background: #F3F3F3;
  color: #000;
}
.dark {
  border: 1px solid rgb(89, 96, 134);
  background: #333;
  color: #D5D5D5;
}
.shadow {
  box-shadow: 4px 4px 4px #888888!important;
}
.top-border.yellow {
  border-top: 4px solid rgb(236, 207, 101);
}
.top-border.green {
  border-top: 4px solid rgb(123, 224, 123);
}
.top-border.red {
  border-top: 4px solid rgb(251, 189, 189);
}
.left-border.yellow {
  border-left: 4px solid rgb(236, 207, 101);
}
.left-border.green {
  border-left: 4px solid rgb(123, 224, 123);
}
.left-border.red {
  border-left: 4px solid rgb(251, 189, 189);
}
.rounded-corners {
  border-radius: 4px;
}
.no-outline:focus {
  outline: none;
}
.ellipsis {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
