label {
  margin: 10px;
  vertical-align: middle;
}
div.panel {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #EEF1F5;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #888888;
}

div.check-box.slider,
div.check-box.toggle,
select.select-box {
  margin: 20px 0;
}

/*
  SelectBoxComponent
*/
/*select.select-box {
  margin: 20px 0;
  border-radius: 4px;
}*/

/*
  CheckBoxComponent
*/
.check-box {
  display: inline-block;
  position: relative;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.check-box.slider.disabled,
.check-box.toggle.disabled {
  opacity: 0.4;
}
.check-box input + label {
  display: block;
  cursor: pointer;
  position: absolute;
  margin: 0;
}
.check-box.disabled input + label {
  cursor: default;
}
.check-box span {
  margin: 10px;
  vertical-align: middle;
}
.check-box.slider,
.check-box.toggle {
  top: -3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.check-box.slider input[type=checkbox],
.check-box.toggle input[type=checkbox] {
  visibility: hidden;
}
.check-box.slider {
  top: -3px;
  width: 80px;
  height: 26px;
  border-radius: 50px;
  /*box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);*/
}
.check-box.slider:after {
  content: 'OFF';
  color: #888;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.check-box.slider.light:after {
  color: #888;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.check-box.slider.dark:after {
  color: #000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.check-box.slider:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.check-box.slider label {
  width: 34px;
  height: 20px;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.check-box.slider.light label {
  background: #646563;
  background: -webkit-linear-gradient(top, #BBBABA 0%, #B2B5B2 40%, #646563 100%);
  background: linear-gradient(to bottom, #BBBABA 0%, #B2B5B2 40%, #646563 100%);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.check-box.slider input[type=checkbox]:checked + label {
  left: 43px;
}
.check-box.toggle {
  background: none;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;
}
.check-box.toggle label:before {
  display: block;
  position: absolute;
  content: ''!important;
  z-index: 1;
  border: none;
  top: 0;
  left: 0;
  transform: none;
  background: rgba(0,0,0,.05);
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.check-box.toggle input[type=checkbox]:checked + label:before {
  background: #2185d0;
}
.check-box.toggle.green input[type=checkbox]:checked + label:before {
  background: #11D232;
}
.check-box.toggle.red input[type=checkbox]:checked + label:before {
  background: #E61010;
}
.check-box.toggle label {
  top:0px;
  left: 0px;
  z-index: 0;
  width: 3.5rem;
  height: 1.5rem;
  background: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
}
.check-box.toggle label:after {
  position: absolute;
  content:''!important;
  background: -webkit-linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
  background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15) inset;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 500rem;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.check-box.toggle input[type=checkbox]:checked + label:after {
  left: 2rem;
}









/*
  SlideMenuComponent
*/
.slide-menu > nav {
  position: fixed;
  z-index: 200;
  background: #4f6b81;
  color: #ddd;
  transition: transform 0.4s;
}
.slide-menu > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide-menu button.close-button {
  color: #fff;
  text-align: left;
  background-color: #4f6b81;
  font-size: 1.1em;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.slide-menu button.close-button:focus {
  outline: none;
}
body.menu-is-open {
  overflow: hidden;
}

/*
  slide-menu content-container
*/
.slide-menu > .content-container {
  transition: transform .4s;
}

/*
  slide-menu-mask
*/
.slide-menu-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.slide-menu > input[type=checkbox].menu-toggle:checked ~ .slide-menu-mask {
  width: 100%;
  height: 100%;
  opacity: 0.05;
  transition: opacity 0.4s;
}

/*
  menu-toggle button
*/
.slide-menu > input[type=checkbox].menu-toggle {
  position: absolute;
  opacity: 0;
  z-index: 200;
}
.slide-menu > input[type=checkbox].menu-toggle ~ label {
  position: absolute;
  margin: 0;
  top: 0px;
  z-index: 200;
  display: block;
  font-size:3em;
  color: #444;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}

.slide-menu > nav .slide-menu-item {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  padding: 15px;
  background: linear-gradient(#628297, #4f6b81);
  border-bottom: 1px solid #1e222b;
  box-shadow: inset 0px 1px 1px #8b9db3;
  text-align: left;
  cursor: pointer;
}

.slide-menu > nav .slide-menu-item:hover {
  background: linear-gradient(#3b3f48, #3c434d);
  box-shadow: inset 0px 1px 1px #475059;

}


/*
 slide-menu left & right
*/
.slide-menu > nav {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media all and (min-width: 320px) {
  .slide-menu > nav {
    width: 250px;
  }
}
.slide-menu > nav button.close-button {
  display: block;
  padding: 15px;
}
.slide-menu.left > nav button.close-button,
.slide-menu.right > nav button.close-button {
  width: 100%;
}

/*
  slide-menu left
*/
.slide-menu.left > nav,
.slide-menu > nav.left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .slide-menu.left > nav,
  .slide-menu > nav.left {
    transform: translateX(-250px);
  }
}

.slide-menu.left > input[type=checkbox].menu-toggle + label,
.slide-menu > input[type=checkbox].menu-toggle.left + label {
  left: 10px;
}
.slide-menu.left > input[type=checkbox].menu-toggle:checked + label,
.slide-menu > input[type=checkbox].menu-toggle.left:checked + label  {
  transform: translate3d(250px, 0, 0) rotate(90deg);
}
.slide-menu.left > input[type=checkbox].menu-toggle:checked ~ .content-container.push-content,
.slide-menu > input[type=checkbox].menu-toggle.left:checked ~ .content-container.push-content {
  transform: translate3d(250px, 0, 0);
}
.slide-menu.left > input[type=checkbox].menu-toggle:checked ~ nav,
.slide-menu > input[type=checkbox].menu-toggle.left:checked ~ nav.left {
  transform: translate3d(0, 0, 0);
}

/*
  slide-menu right
*/
.slide-menu.right > nav,
.slide-menu > nav.right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .slide-menu.right > nav,
  .slide-menu > nav.right {
    transform: translateX(250px);
  }
}

.slide-menu.right > input[type=checkbox].menu-toggle + label,
.slide-menu > input[type=checkbox].menu-toggle.right + label {
  right: 10px;
}
.slide-menu.right > input[type=checkbox].menu-toggle:checked + label,
.slide-menu > input[type=checkbox].menu-toggle.right:checked + label {
  transform: translate3d(-250px, 0, 0) rotate(-90deg);
}
.slide-menu.right > input[type=checkbox].menu-toggle:checked ~ .content-container.push-content,
.slide-menu > input[type=checkbox].menu-toggle.right:checked ~ .content-container.push-content {
  transform: translate3d(-250px, 0, 0);
}
.slide-menu.right > input[type=checkbox].menu-toggle:checked ~ nav,
.slide-menu > input[type=checkbox].menu-toggle.right:checked ~ nav.right {
  transform: translate3d(0, 0, 0);
}

/*
  slide-menu top & bottom
*/
.slide-menu.top > nav,
.slide-menu.bottom > nav {
  vertical-align: middle;
  width: 100%;
  height: 60px;
  text-align: center;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  box-shadow: none;
}
.slide-menu.top > nav ul,
.slide-menu.bottom > nav ul {
  display: inline-block;
  text-align: center;
  background: linear-gradient(#628297, #4f6b81);
}
.slide-menu.top > nav ul > li,
.slide-menu.bottom > nav ul > li {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.slide-menu.top > nav .slide-menu-item,
.slide-menu.bottom > nav .slide-menu-item {
  display: inline-block;
  line-height: 60px;
  padding: 0 15px;
  box-shadow: none;
}
.slide-menu.top button.close-button,
.slide-menu.bottom button.close-button {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: 60px;
  line-height: 60px;
}

/*
  slide-menu top
*/
.slide-menu.top > nav {
  top: 0;
  left: 0;
  transform: translateY(-60px);
}
.slide-menu.top > input[type=checkbox].menu-toggle:checked + label,
.slide-menu > input[type=checkbox].menu-toggle.top:checked + label  {
  transform: translateY(60px) rotate(90deg);
}
.slide-menu.top > input[type=checkbox].menu-toggle:checked ~ .content-container.push-content,
.slide-menu > input[type=checkbox].menu-toggle.top:checked ~ .content-container.push-content {
  transform: translateY(60px);
}
.slide-menu.top > input[type=checkbox].menu-toggle:checked ~ nav,
.slide-menu > input[type=checkbox].menu-toggle.top:checked ~ nav.top {
  transform: translateY(0);
}

/*
  slide-menu bottom
*/
.slide-menu.bottom > nav {
  bottom: 0;
  left: 0;
  transform: translateY(60px);
}
.slide-menu.bottom > input[type=checkbox].menu-toggle:checked + label,
.slide-menu > input[type=checkbox].menu-toggle.bottom:checked + label  {
  transform: translateY(-20px) translateX(-20px) rotate(-90deg);
}
.slide-menu.bottom > input[type=checkbox].menu-toggle:checked ~ .content-container.push-content,
.slide-menu > input[type=checkbox].menu-toggle.bottom:checked ~ .content-container.push-content {
  transform: translateY(-60px);
}
.slide-menu.bottom > input[type=checkbox].menu-toggle:checked ~ nav,
.slide-menu > input[type=checkbox].menu-toggle.bottom:checked ~ nav.bottom {
  transform: translateY(0);
}

/*
  hide scroll bars
*/
.slide-menu > nav::-webkit-scrollbar,
.context-menu nav.context-menu-container::-webkit-scrollbar,
.context-menu li.sub-menu > span > div::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.slide-menu > nav,
.context-menu nav.context-menu-container,
.context-menu li.sub-menu > span > div {
  -ms-overflow-style: none;
}



/*
  ContextMenuComponent
*/
.context-menu-container, .context-menu-container li.sub-menu > div > div.menu-container {
	display: inline-block;
	margin: 0px;
	background-color: rgb(255,255,255);
	padding: 0px;
	position: fixed;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: left;
  font-size: 13px;
	cursor: default;
  z-index: 200;
  white-space: nowrap;
}
.context-menu-container ul {
  list-style: none;
}
.context-menu-container li.sub-menu > div {
	float:right;
}
.context-menu-container ul {
	margin: 0px;
	margin-left:0px;
	padding:4px 0px 4px 0px;
}
.context-menu-container li {
	padding:3px 20px 3px 20px;
	white-space: nowrap;
	overflow: hidden;
}
.context-menu-container li:hover {
	background: #3A9FF4;
	color:#ffffff;
}

.context-menu-container li > div > svg {
	margin-left:10px;
	margin-top:3px;
}
.context-menu-container hr {
	width: 100%;
	margin:0px;
}
.context-menu-container li.sub-menu > div > div.menu-container > ul > li {
	color:#000000;
}
.context-menu-container li.sub-menu > div > div.menu-container > ul > li:hover {
	color:#ffffff;
}
.context-menu-container li.sub-menu > div > svg.svg-triangle polygon {
  fill: rgb(0, 0, 0);
  stroke:#000000;
  stroke-width:1;
}
.context-menu-container li.sub-menu:hover > div > svg.svg-triangle polygon {
  fill: rgb(255, 255, 255);
  stroke:#ffffff;
  stroke-width:1;
}
.context-menu-container li.context-menu-disabled {
	color:#ccc;
}
.context-menu-container li.context-menu-disabled:hover {
	background: rgb(255,255,255);
}





/*
  content-mask
*/
.content-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.content-mask.active {
  width: 100%;
  height: 100%;
  opacity: 0.05;
  transition: opacity 0.4s;
}
.content-mask.menu-overlay {
  background: none;
  opacity: inherit;
}



/*
  Common styles
*/
.light {
  border: 1px solid rgb(89, 96, 134);
  background: #F3F3F3;
  color: #000;
}
.dark {
  border: 1px solid rgb(89, 96, 134);
  background: #333;
  color: #D5D5D5;
}
.shadow {
  box-shadow: 4px 4px 4px #888888!important;
}
.top-border.yellow {
  border-top: 4px solid rgb(236, 207, 101);
}
.top-border.green {
  border-top: 4px solid rgb(123, 224, 123);
}
.top-border.red {
  border-top: 4px solid rgb(251, 189, 189);
}
.left-border.yellow {
  border-left: 4px solid rgb(236, 207, 101);
}
.left-border.green {
  border-left: 4px solid rgb(123, 224, 123);
}
.left-border.red {
  border-left: 4px solid rgb(251, 189, 189);
}
.rounded-corners {
  border-radius: 4px;
}
.no-outline:focus {
  outline: none;
}
.ellipsis {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
