.uic-fieldset > label,
label.uic-form-element,
div.uic-form-element > label,
.uic-form-element,
div.uic-form-element input,
div.uic-form-element select,
div.uic-form-element textarea {
  min-height: 39px;
  padding: 6px 12px;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
div.uic-form-element select,
select.uic-form-element {
  height: 39px;
}
.uic-form-element,
div.uic-form-element input,
div.uic-form-element select,
div.uic-form-element textarea {
  width: 100%;
  max-width: 500px;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display: block;
  font-size: 16px;
  line-height: 1.57143;
  color: #555;
  box-sizing: border-box;
}
div.uic-form-element input,
div.uic-form-element select,
div.uic-form-element textarea,
input.uic-form-element,
select.uic-form-element,
textarea.uic-form-element {
  background-color: #fff;
}
label {
  line-height: 1.57143;
}
.uic-form-element:focus,
div.uic-form-element select:focus,
div.uic-form-element textarea:focus {
  outline: none;
  border-color: #71c0ff;
  box-shadow: 0 0 4px #b0dafb;
}
div.uic-form-element {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: none;
  border: none;
  width: 100%;
  max-width: 100%;
}
.uic-fieldset > label,
label.uic-form-element,
div.uic-form-element > label {
  float: left;
  width: 30%;
  text-align: right;
}
label + .uic-form-element {
  width: 67%;
}
.uic-fieldset > .uic-form-element,
label + .uic-form-element {
  float: left;

}
.uic-form-element > .uic-check-box {
  vertical-align: bottom;
}
.uic-fieldset {
  border: none;
}
.uic-fieldset > legend {
  border-radius: 2px;
  padding: 2px 6px;
}
.uic-fieldset > legend.white {
  background: #fff;
}
