body {
  font-family: sans-serif;
}
a, a:visited {
  color: #275CBD;
  text-decoration: none;
}
h4 {
  margin: 30px 0 10px 0;
}
pre {
  /*white-space: pre-wrap;*/
  overflow-x: auto;
  margin: 0;
  padding: 10px;
}
div.panel.code .hljs {
  background: none;
  padding: 10px;
}
h2 {
  margin-top: 25px;
}
h3 {
  margin-top: 40px;
}
p.version {
  float: right;
  font-size: 0.7rem;
  margin: 10px;
  padding: 0px;
}
p {
  line-height: 1.5;
  vertical-align: baseline;
}
code {
  color: #333;
  background: rgba(0,0,0,0.04);
  padding: 3px;
  border-radius: 5px;
}
div.panel.code code {
  background: none;
}
div.panel.code {
  margin: 30px;
  padding: 0;
  /*padding: 10px 20px;*/
  background: #F8F8F8;
  box-shadow: 0px 1px 2px #888888 inset;
}
span.code-comment {
  color: #AFAFAF;
}
div.panel.output {
  margin: 30px;
  background: #EDEFF1;
}
.uic-slide-menu > .uic-content-container {
  padding-top: 20px;
}

@media all and (min-width: 960px) {
  .uic-content-container {
    padding-top: 20px;
    max-width: 960px;
    margin: 0 auto;
  }
}

div.go-back-link {
  margin: -5px 50px;
}
@media all and (min-width: 1050px) {
  div.go-back-link {
    margin: -5px 0px;
  }
}

section.toc ul li {
  margin: 15px 0;
  cursor: pointer;
}

.my-modal {
  width: 400px;
  /*height: 300px;*/
}
