{{yield to="inverse"}}
{{#if showContextMenu}}
  {{#euic-content-mask
    class="euic-menu-overlay active"
    didInsertMask=didInsertContextMenu
    action="closeContextMenu"}}
  	<nav class="euic-context-menu-container euic-menu-container">
      {{yield contextMenuParams}}
  	</nav>
  {{/euic-content-mask}}
{{/if}}
