{{yield to="inverse"}}
{{#if showContextMenu}}
  {{#content-mask
    class="menu-overlay active"
    didInsertElement=didInsertContextMenu
    action="closeContextMenu"}}
  	<nav class="context-menu-container">
      {{yield contextMenuParams}}
  	</nav>
  {{/content-mask}}
{{/if}}
