{{yield to="inverse"}}
{{#if showContextMenu}}
  {{#content-mask class="menu-overlay active" didInsertElement=setPosition action="closeContextMenu"}}
  	<div class="context-menu-container">
  		{{yield contextMenuParams}}
  	</div>
  {{/content-mask}}
{{/if}}
