<span class="ellipsis">{{title}}</span>
<div>
  {{svg-triangle direction="right" size="8"}}
  {{#if showMenu}}
    {{#euic-menu-container}}
      {{#if hasBlock}}
        {{yield}}
      {{/if}}
    {{/euic-menu-container}}
  {{/if}}
</div>
