{{#if dialog.title}}
  <h1>{{dialog.title}}</h1>
{{/if}}
{{#if dialog.body}}
  <p>{{dialog.body}}</p>
{{/if}}
<div class="uic-modal-button-container">
  {{#uic-button class="uic-cancel-button" action="cancel"}}Cancel{{/uic-button}}
  {{#uic-button class="uic-ok-button" action="confirm"}}OK{{/uic-button}}
</div>
