<h1 id="title">ember-ui-components</h1>

<h2>checkbox-slider</h2>

{{checkbox-slider checked=checkboxSliderValue checkboxId="checkbox-slider"}}
<label for="checkbox-slider">Checkbox Slider</label>

{{outlet}}
