<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>ButtonClass</h1>

<div class="panel">

  <h2><code>button.uic-button</code></h2>

  <h2>Description</h2>

  <p>Add the class name <code>uic-button</code> to a button element to get a styled button.</p>

  {{code-panel name="button-class-basic.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-class-basic}}
    <button class="uic-button">My Button</button>
    {{! END-SNIPPET }}
  </div>

  <p>On top of the base style there are a few other styles that can be used...</p>

  {{code-panel name="button-class-color.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-class-color }}
    <button class="uic-button">My Button</button>
    <button class="uic-button blue">My Button</button>
    <button class="uic-button green">My Button</button>
    <button class="uic-button yellow">My Button</button>
    <button class="uic-button red">My Button</button>
    {{! END-SNIPPET }}
  </div>

  {{code-panel name="button-class-size.hbs"}}

  <div class="panel output">
    {{! BEGIN-SNIPPET button-class-size }}
    <button class="uic-button large">My Button</button>
    <button class="uic-button">My Button</button>
    <button class="uic-button small">My Button</button>
    <button class="uic-button extra-small">My Button</button>
    {{! END-SNIPPET }}
  </div>
</div>
