<h1 id="title">ember-ui-components</h1>

<p>
  This is an <a href="http://ember-cli.com/">Ember-cli</a> addon to be used
  with <a href="http://emberjs.com/">Ember.js</a>, which is a Javascript application
  framework.
</p>

<p>
  ember-ui-components, is a collection of common user interface components and CSS
  classes.
</p>
<section class="toc">
  <h2>Components</h2>
  <ul>
    <li>
      {{#link-to 'check-box-component'}}CheckBoxComponent{{/link-to}}
    </li>
    <li>
      {{#link-to 'select-box-component'}}SelectBoxComponent{{/link-to}}
    </li>
    <li>
      {{#link-to 'slide-menu-component'}}SlideMenuComponent{{/link-to}}
    </li>
    <li>
      {{#link-to 'context-menu-component'}}ContextMenuComponent{{/link-to}}
    </li>
    <li>
      {{#link-to 'modal-dialog-component'}}ModalDialogComponent{{/link-to}}
    </li>
  </ul>
  <h2>CSS Classes</h2>
  <ul>
    <li>
      {{#link-to 'panel-class'}}PanelClass{{/link-to}}
    </li>
    <li>light</li>
    <li>dark</li>
    <li>shadow</li>
    <li>rounded-corners</li>
    <li>top-border.green</li>
    <li>top-border.yellow</li>
    <li>top-border.red</li>
  </ul>
</section>

{{outlet}}
