<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>PanelClass</h1>


<div class="panel">

  <h2><code>div.panel</code></h2>
  <h2><code>div.uic-panel</code></h2>

  <h2>Description</h2>

  <p>To create a panel, add the `panel` class to a `div` element.</p>

  {{code-panel name="panel-class-basic.hbs"}}

</div>
<div class="panel">
  <h2>Examples</h2>
  <div class="panel">
    <h2>This is a basic panel</h2>
    <p>Class: `panel`</p>
  </div>

  <div class="panel top-border green">
    <h2>This is a panel</h2>
    <p>This one has a green top-border</p>
    <p>Classes: `panel`, `top-border`, `green`</p>
    {{code-panel name="panel-topborder-green.hbs"}}
  </div>

  <div class="panel top-border yellow">
    <h2>This is a panel</h2>
    <p>This one has a yellow top-border</p>
    <p>Classes: `panel`, `top-border`, `yellow`</p>
    {{code-panel name="panel-topborder-yellow.hbs"}}
  </div>

  <div class="panel top-border red">
    <h2>This is a panel</h2>
    <p>This one has a red top-border</p>
    <p>Classes: `panel`, `top-border`, `red`</p>
    {{code-panel name="panel-topborder-red.hbs"}}
  </div>

</div>
