<div class="go-back-link">
  {{#link-to 'index'}}Back to index{{/link-to}}
</div>

<h1>PanelClass</h1>


<div class="panel">

  <h2>Description</h2>
  <p>To create a panel, add the `panel` class to a `div` element.</p>

  <div class="panel code">
    <pre><code>&lt;div class="panel"&gt; ... &lt;/div&gt;</code></pre>
  </div>

  <div class="panel">
    <h2>This is a basic panel</h2>
    <p>Class: `panel`</p>
  </div>

  <div class="panel top-border green">
    <h2>This is a panel</h2>
    <p>This one has a green top-border</p>
    <p>Classes: `panel`, `top-border`, `green`</p>
    <pre><code>
  &lt;div class="panel top-border green"&gt; ... &lt;/div&gt;
    </code></pre>
  </div>

  <div class="panel top-border yellow">
    <h2>This is a panel</h2>
    <p>This one has a yellow top-border</p>
    <p>Classes: `panel`, `top-border`, `yellow`</p>
    <pre><code>
  &lt;div class="panel top-border yellow"&gt; ... &lt;/div&gt;
    </code></pre>
  </div>

  <div class="panel top-border red">
    <h2>This is a panel</h2>
    <p>This one has a red top-border</p>
    <p>Classes: `panel`, `top-border`, `red`</p>
    <pre><code>
  &lt;div class="panel top-border red"&gt; ... &lt;/div&gt;
    </code></pre>
  </div>

</div>
